mipi/Connected Services/WsSace/SIM_SACE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CantidadEstimulacionTempranaPais">
        <s:complexType />
      </s:element>
      <s:element name="CantidadEstimulacionTempranaPaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadEstimulacionTempranaPaisResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadEstimulacionTempranaDepartamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadEstimulacionTempranaDepartamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadEstimulacionTempranaDepartamentoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadEstimulacionTempranaMunicipio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdMunicipio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadEstimulacionTempranaMunicipioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadEstimulacionTempranaMunicipioResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadEstimulacionTempranaZona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdMunicipio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdZona" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadEstimulacionTempranaZonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadEstimulacionTempranaZonaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaEstimulacionTempranaNominal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumeroIdentidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaEstimulacionTempranaNominalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaEstimulacionTempranaNominalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadAlimentacionEscolarPais">
        <s:complexType />
      </s:element>
      <s:element name="CantidadAlimentacionEscolarPaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadAlimentacionEscolarPaisResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadAlimentacionEscolarDepartamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadAlimentacionEscolarDepartamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadAlimentacionEscolarDepartamentoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadAlimentacionEscolarMunicipio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdMunicipio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadAlimentacionEscolarMunicipioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadAlimentacionEscolarMunicipioResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadAlimentacionEscolarZona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdMunicipio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdZona" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadAlimentacionEscolarZonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadAlimentacionEscolarZonaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaAlimentacionEscolarNominal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumeroIdentidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaAlimentacionEscolarNominalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaAlimentacionEscolarNominalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaPaisEdad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaPaisEdadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadPrebasicaPaisEdadResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaDepartamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaDepartamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadPrebasicaDepartamentoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaMunicipio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdMunicipio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaMunicipioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadPrebasicaMunicipioResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaZona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdMunicipio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IdZona" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaZonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CantidadPrebasicaZonaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaNominal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NumeroIdentidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CantidadPrebasicaNominalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CantidadPrebasicaNominalResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CantidadEstimulacionTempranaPaisSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadEstimulacionTempranaPais" />
  </wsdl:message>
  <wsdl:message name="CantidadEstimulacionTempranaPaisSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadEstimulacionTempranaPaisResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadEstimulacionTempranaDepartamentoSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadEstimulacionTempranaDepartamento" />
  </wsdl:message>
  <wsdl:message name="CantidadEstimulacionTempranaDepartamentoSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadEstimulacionTempranaDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadEstimulacionTempranaMunicipioSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadEstimulacionTempranaMunicipio" />
  </wsdl:message>
  <wsdl:message name="CantidadEstimulacionTempranaMunicipioSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadEstimulacionTempranaMunicipioResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadEstimulacionTempranaZonaSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadEstimulacionTempranaZona" />
  </wsdl:message>
  <wsdl:message name="CantidadEstimulacionTempranaZonaSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadEstimulacionTempranaZonaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaEstimulacionTempranaNominalSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaEstimulacionTempranaNominal" />
  </wsdl:message>
  <wsdl:message name="ConsultaEstimulacionTempranaNominalSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaEstimulacionTempranaNominalResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadAlimentacionEscolarPaisSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadAlimentacionEscolarPais" />
  </wsdl:message>
  <wsdl:message name="CantidadAlimentacionEscolarPaisSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadAlimentacionEscolarPaisResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadAlimentacionEscolarDepartamentoSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadAlimentacionEscolarDepartamento" />
  </wsdl:message>
  <wsdl:message name="CantidadAlimentacionEscolarDepartamentoSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadAlimentacionEscolarDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadAlimentacionEscolarMunicipioSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadAlimentacionEscolarMunicipio" />
  </wsdl:message>
  <wsdl:message name="CantidadAlimentacionEscolarMunicipioSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadAlimentacionEscolarMunicipioResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadAlimentacionEscolarZonaSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadAlimentacionEscolarZona" />
  </wsdl:message>
  <wsdl:message name="CantidadAlimentacionEscolarZonaSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadAlimentacionEscolarZonaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaAlimentacionEscolarNominalSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaAlimentacionEscolarNominal" />
  </wsdl:message>
  <wsdl:message name="ConsultaAlimentacionEscolarNominalSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaAlimentacionEscolarNominalResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaPaisEdadSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaPaisEdad" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaPaisEdadSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaPaisEdadResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaDepartamentoSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaDepartamento" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaDepartamentoSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaMunicipioSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaMunicipio" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaMunicipioSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaMunicipioResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaZonaSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaZona" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaZonaSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaZonaResponse" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaNominalSoapIn">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaNominal" />
  </wsdl:message>
  <wsdl:message name="CantidadPrebasicaNominalSoapOut">
    <wsdl:part name="parameters" element="tns:CantidadPrebasicaNominalResponse" />
  </wsdl:message>
  <wsdl:portType name="SIM_SACESoap">
    <wsdl:operation name="CantidadEstimulacionTempranaPais">
      <wsdl:input message="tns:CantidadEstimulacionTempranaPaisSoapIn" />
      <wsdl:output message="tns:CantidadEstimulacionTempranaPaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadEstimulacionTempranaDepartamento">
      <wsdl:input message="tns:CantidadEstimulacionTempranaDepartamentoSoapIn" />
      <wsdl:output message="tns:CantidadEstimulacionTempranaDepartamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadEstimulacionTempranaMunicipio">
      <wsdl:input message="tns:CantidadEstimulacionTempranaMunicipioSoapIn" />
      <wsdl:output message="tns:CantidadEstimulacionTempranaMunicipioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadEstimulacionTempranaZona">
      <wsdl:input message="tns:CantidadEstimulacionTempranaZonaSoapIn" />
      <wsdl:output message="tns:CantidadEstimulacionTempranaZonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstimulacionTempranaNominal">
      <wsdl:input message="tns:ConsultaEstimulacionTempranaNominalSoapIn" />
      <wsdl:output message="tns:ConsultaEstimulacionTempranaNominalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarPais">
      <wsdl:input message="tns:CantidadAlimentacionEscolarPaisSoapIn" />
      <wsdl:output message="tns:CantidadAlimentacionEscolarPaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarDepartamento">
      <wsdl:input message="tns:CantidadAlimentacionEscolarDepartamentoSoapIn" />
      <wsdl:output message="tns:CantidadAlimentacionEscolarDepartamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarMunicipio">
      <wsdl:input message="tns:CantidadAlimentacionEscolarMunicipioSoapIn" />
      <wsdl:output message="tns:CantidadAlimentacionEscolarMunicipioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarZona">
      <wsdl:input message="tns:CantidadAlimentacionEscolarZonaSoapIn" />
      <wsdl:output message="tns:CantidadAlimentacionEscolarZonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaAlimentacionEscolarNominal">
      <wsdl:input message="tns:ConsultaAlimentacionEscolarNominalSoapIn" />
      <wsdl:output message="tns:ConsultaAlimentacionEscolarNominalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaPaisEdad">
      <wsdl:input message="tns:CantidadPrebasicaPaisEdadSoapIn" />
      <wsdl:output message="tns:CantidadPrebasicaPaisEdadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaDepartamento">
      <wsdl:input message="tns:CantidadPrebasicaDepartamentoSoapIn" />
      <wsdl:output message="tns:CantidadPrebasicaDepartamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaMunicipio">
      <wsdl:input message="tns:CantidadPrebasicaMunicipioSoapIn" />
      <wsdl:output message="tns:CantidadPrebasicaMunicipioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaZona">
      <wsdl:input message="tns:CantidadPrebasicaZonaSoapIn" />
      <wsdl:output message="tns:CantidadPrebasicaZonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaNominal">
      <wsdl:input message="tns:CantidadPrebasicaNominalSoapIn" />
      <wsdl:output message="tns:CantidadPrebasicaNominalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SIM_SACESoap" type="tns:SIM_SACESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CantidadEstimulacionTempranaPais">
      <soap:operation soapAction="http://tempuri.org/CantidadEstimulacionTempranaPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadEstimulacionTempranaDepartamento">
      <soap:operation soapAction="http://tempuri.org/CantidadEstimulacionTempranaDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadEstimulacionTempranaMunicipio">
      <soap:operation soapAction="http://tempuri.org/CantidadEstimulacionTempranaMunicipio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadEstimulacionTempranaZona">
      <soap:operation soapAction="http://tempuri.org/CantidadEstimulacionTempranaZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstimulacionTempranaNominal">
      <soap:operation soapAction="http://tempuri.org/ConsultaEstimulacionTempranaNominal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarPais">
      <soap:operation soapAction="http://tempuri.org/CantidadAlimentacionEscolarPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarDepartamento">
      <soap:operation soapAction="http://tempuri.org/CantidadAlimentacionEscolarDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarMunicipio">
      <soap:operation soapAction="http://tempuri.org/CantidadAlimentacionEscolarMunicipio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarZona">
      <soap:operation soapAction="http://tempuri.org/CantidadAlimentacionEscolarZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaAlimentacionEscolarNominal">
      <soap:operation soapAction="http://tempuri.org/ConsultaAlimentacionEscolarNominal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaPaisEdad">
      <soap:operation soapAction="http://tempuri.org/CantidadPrebasicaPaisEdad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaDepartamento">
      <soap:operation soapAction="http://tempuri.org/CantidadPrebasicaDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaMunicipio">
      <soap:operation soapAction="http://tempuri.org/CantidadPrebasicaMunicipio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaZona">
      <soap:operation soapAction="http://tempuri.org/CantidadPrebasicaZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaNominal">
      <soap:operation soapAction="http://tempuri.org/CantidadPrebasicaNominal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SIM_SACESoap12" type="tns:SIM_SACESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CantidadEstimulacionTempranaPais">
      <soap12:operation soapAction="http://tempuri.org/CantidadEstimulacionTempranaPais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadEstimulacionTempranaDepartamento">
      <soap12:operation soapAction="http://tempuri.org/CantidadEstimulacionTempranaDepartamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadEstimulacionTempranaMunicipio">
      <soap12:operation soapAction="http://tempuri.org/CantidadEstimulacionTempranaMunicipio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadEstimulacionTempranaZona">
      <soap12:operation soapAction="http://tempuri.org/CantidadEstimulacionTempranaZona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstimulacionTempranaNominal">
      <soap12:operation soapAction="http://tempuri.org/ConsultaEstimulacionTempranaNominal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarPais">
      <soap12:operation soapAction="http://tempuri.org/CantidadAlimentacionEscolarPais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarDepartamento">
      <soap12:operation soapAction="http://tempuri.org/CantidadAlimentacionEscolarDepartamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarMunicipio">
      <soap12:operation soapAction="http://tempuri.org/CantidadAlimentacionEscolarMunicipio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadAlimentacionEscolarZona">
      <soap12:operation soapAction="http://tempuri.org/CantidadAlimentacionEscolarZona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaAlimentacionEscolarNominal">
      <soap12:operation soapAction="http://tempuri.org/ConsultaAlimentacionEscolarNominal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaPaisEdad">
      <soap12:operation soapAction="http://tempuri.org/CantidadPrebasicaPaisEdad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaDepartamento">
      <soap12:operation soapAction="http://tempuri.org/CantidadPrebasicaDepartamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaMunicipio">
      <soap12:operation soapAction="http://tempuri.org/CantidadPrebasicaMunicipio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaZona">
      <soap12:operation soapAction="http://tempuri.org/CantidadPrebasicaZona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CantidadPrebasicaNominal">
      <soap12:operation soapAction="http://tempuri.org/CantidadPrebasicaNominal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SIM_SACE">
    <wsdl:port name="SIM_SACESoap" binding="tns:SIM_SACESoap">
      <soap:address location="https://simsace20200509091827.azurewebsites.net/SIM_SACE.asmx" />
    </wsdl:port>
    <wsdl:port name="SIM_SACESoap12" binding="tns:SIM_SACESoap12">
      <soap12:address location="https://simsace20200509091827.azurewebsites.net/SIM_SACE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>